nav {
  height: 90px;
  line-height: 90px; }

nav ul a {
  color: #444;
  line-height: 90px; }
  nav ul a:hover {
    background-color: transparent;
    color: #f6a215; }

ul.side-nav li a:hover {
  background-color: #f6a215;
  color: #ffffff; }

.button-collapse {
  color: #da6016;
  padding-top: 10px; }
  .button-collapse:hover {
    color: #f6a215; }

.btn-primary {
  background: #009bdb; }
  .btn-primary:hover {
    background: #4fc3f7; }

.btn-secondary {
  background: #da6016; }
  .btn-secondary:hover {
    background: #f6a215; }

p {
  line-height: 2rem; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }
  .parallax-container .section {
    width: 100%; }

.icon-block {
  padding: 0 15px; }
  .icon-block .material-icons {
    font-size: inherit; }

.slider {
  height: 600px !important;
  margin-bottom: 0px; }
  .slider .slides {
    height: 600px !important; }
    .slider .slides li {
      height: 600px !important; }
  .slider .indicators {
    bottom: 4%; }
    .slider .indicators .indicator-item {
      background-color: #009bdb;
      z-index: 2; }
    .slider .indicators .indicator-item.active {
      background-color: #4fc3f7; }

.text-uppercase, .text-title {
  text-transform: uppercase; }

.text-title {
  color: #009bdb; }

.color-list {
  color: #009bdb; }

p a {
  text-decoration: none;
  font-style: italic; }
  p a:hover {
    color: #4fc3f7; }

.card .card-action {
  background-color: #009bdb; }

img.destinaty-img {
  width: 100%; }

.page, .about-us-page, .payment-page, .destiny-page, .just-married-page, .brasil-page, .caribe-page, .europa-page, .peru-page {
  padding-top: 30px;
  padding-bottom: 50px; }

.text-container {
  width: 100%;
  background-color: #009bdb;
  display: table;
  padding: 40px;
  margin-bottom: 40px; }
  .text-container h5 {
    color: #ffffff;
    letter-spacing: 4px;
    line-height: 38px; }

.brasil-page .divider, .caribe-page .divider, .europa-page .divider, .peru-page .divider {
  margin-top: 30px;
  margin-bottom: 30px; }
.brasil-page h5, .caribe-page h5, .europa-page h5, .peru-page h5 {
  color: #da6016; }

.brick, .firts-brick {
  background-size: cover;
  height: 600px; }
  .brick .section, .firts-brick .section {
    width: 100%; }
    .brick .section .description, .firts-brick .section .description {
      background-color: darkorange;
      opacity: 0.9;
      padding: 50px;
      border-radius: 4px; }

.firts-brick {
  background-image: url("../images/brick01_normal_2x.jpg"); }

.banner {
  background-size: cover;
  background-position: center center;
  height: 435px; }
  .banner.banner-about-us {
    background-image: url("../images/about-us-normal_2x.jpg"); }
  .banner.banner-destiny {
    background-image: url("../images/destiny-normal_2x.jpg"); }
  .banner.banner-just-married {
    background-image: url("../images/just-married-normal_2x.jpg"); }

footer.page-footer {
  margin: 0; }

.footer-contact p a {
  text-decoration: none;
  font-style: normal; }
  .footer-contact p a:hover {
    color: #4fc3f7; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }

  #index-banner .section {
    top: 10%; } }
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; }

  .brasil-page .destiny-container, .caribe-page .destiny-container, .europa-page .destiny-container, .peru-page .destiny-container {
    margin-bottom: 60px; }

  .text-container {
    padding: 20px;
    margin-bottom: 20px; }
    .text-container h5 {
      letter-spacing: 0px;
      line-height: 30px; }

  .banner {
    background-position: center center;
    height: 440px; }
    .banner.banner-destiny {
      background-image: url("../images/destiny-small_2x.jpg"); }
    .banner.banner-just-married {
      background-image: url("../images/just-married-small_2x.jpg"); } }

/*# sourceMappingURL=main.css.map */
