<div class="banner banner-destiny"></div>
<div class="container destiny-page">
	<div class="row">
		<div class="col s12">
			<h4 class="center-align light">{{title}}</h4>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="city in cities" class="col s12 m6">
			<div class="card hoverable">
	            <div class="card-image">
	              <img src="{{city.img}}">
	            </div>
	            <div class="card-action center-align">
	              <a ui-sref="{{city.country}}" class="white-text destiny">{{city.name}}</a>
	            </div>
        	</div>
      	</div>
	</div>
</div>