<div class="container">
	<div class="row">
		<div class="col s12">
			<h3 class="center-align text-title">{{title}}</h3>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="city in cities" class="col s12 m4">
			<div class="card hoverable">
	            <div class="card-image">
	              <img src="{{city.img}}">
	            </div>
	            <div class="card-action center-align">
	              <a ui-sref="{{city.country}}" class="white-text destiny">{{city.name}}</a>
	            </div>
        	</div>
      	</div>
	</div>
</div>