<div class="container payment-page">
	<div class="row">
		<div class="col s12">
			<h3 class="center-align text-uppercase text-title">Formas de Pago</h3>
			<p><strong>Tipo de Cambio al día 05/08/2016 10:00 hs</strong>
			<ul>
				<li>Dólar: Ars 15.25</li>
				<li>Euro: Usd 1.15</li>
			</ul>
			</p>
			<p>En nuestras oficinas:
			<ul>
				<li>Efectivo: Euros, Dólares o Pesos (consultar tipo de cambio)</li>
				<li>Tarjeta de Crédito (consultar procedimientos)</li>
			</ul>
			</p>
			<p><strong>MERCADO PAGO</strong><br/><a href="https://www.mercadopago.com.ar/promociones">https://www.mercadopago.com.ar/promociones</a></p>
			<p><strong>CUENTA PRINCIPAL</strong></p>
			<ul>
				<li class="text-uppercase"><strong>Banco Nación</strong></li>
				<li>CTA CTE EN PESOS</li>
				<li>SUCURSAL 2300</li>
				<li>A NOMBRE DE SUAREZ MARÍA GUILLERMINA</li>
				<li>NRO DE CUENTA 0324578841</li>
				<li>C.B.U. 0110032730003245788415</li>
			</ul>
			<div class="divider"></div>
			<ul>
				<li class="text-uppercase"><strong>Banco Nación</strong></li>
				<li>CTA CTE EN DOLARES</li>
				<li>SUCURSAL 2300</li>
				<li>A NOMBRE DE SUAREZ MARÍA GUILLERMINA Y NELIDA ESTER SICA</li>
				<li>NRO CUENTA 0324579035</li>
				<li>C.B.U.  0110032731003245790352</li>
			</ul>
		</div>
	</div>
</div>