<div class="container-fluid" ng-init="init();">
    <div class="slider section-slide">
      <ul class="slides">
        <li>
          <img src="images/fondo.jpg">
          <div class="caption center-align">
            <h1>Bienvenido a Suara Viajes</h1>
            <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
          </div>
        </li>
        <li>
          <img src="images/fondo2.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h1>Disney World</h1>
            <h5 class="light grey-text text-lighten-3">Viví tu sueño hecho realidad</h5>
            <a class="waves-effect waves-light btn btn-primary">Ver info</a>
          </div>
        </li>
        <li>
          <img src="images/fondo3.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h1>El Caribe</h1>
            <h5 class="light grey-text text-lighten-3">Disfruta de las mejores playas...</h5>
            <a ui-sref="caribe" class="waves-effect waves-light btn btn-secondary">Ver info</a>
          </div>
        </li>
      </ul>
    </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="images/bkg_paris_large.jpg"></div>
  </div>
  <div class="section section-parallax valign-wrapper white">
    <div class="row container">
      <h5 class="grey-text text-darken-3 lighten-3 center-align">La vida no se mide por el número de veces que respiramos <br> sino por lugares que nos quitan respiración.</h5>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/bkg_venecia_large.jpg"></div>
  </div>