<div class="container-fluid">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="images/fondo.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h1>Bienvenido a Suara Viajes</h1>
            <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
          </div>
        </li>
        <li>
          <img src="images/fondo2.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h1>Disney World</h1>
            <h5 class="light grey-text text-lighten-3">Viví tu sueño hecho realidad</h5>
          </div>
        </li>
        <li>
          <img src="images/fondo3.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h1>El Caribe</h1>
            <h5 class="light grey-text text-lighten-3">Disfruta de las mejores playas...</h5>
          </div>
        </li>
      </ul>
    </div>
</div>


<div class="container">
  <div class="section">

        <div class="row">

    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">La vida no se mide por el número de veces que respiramos sino por lugares que nos quitan respiración</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/destinos2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>A definir</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta optio beatae reprehenderit labore qui libero sapiente minus provident tempora fugiat dolorem harum dolore, nisi nobis, veniam neque delectus praesentium maxime?</p>
      </div>
    </div>

  </div>
</div>