<div class="banner banner-just-married"></div>
<div class="container just-married-page">
	<div class="row">
		<div class="col s12">
			<h4 class="center-align light">Luna de Miel</h4>
			<p><strong>NOSOTROS COMO AGENCIAS DE VIAJES</strong> sabemos que la felicidad no es algo que solo se experimenta sino algo que se recuerda, y este viaje lo atesorarán para siempre.</p>
			<p>Te ofrecemos la opción para que tu viaje de luna de miel sea abonado en forma total o parcial por tus seres queridos, familiares y amigos. Para que cada uno participe con el monto que quiere,
			así todos tendrán la posibilidad de regalarles el destino que eligieron, haciéndolo aún más especial y soñado.
			</p>
		</div>
	</div>
</div>