<div class="banner banner-nosotros-page"></div>
<div class="container nosotros-page">
	<div class="row">
		<div class="col s12">
			<h4 class="center-align">{{title}}</h4>
			<!-- <div class="text-container">
				<h5 class="text-uppercase light center-align text-title">"No se viaja para escapar de la vida,<br> se viaja para que la vida no se escape"</h5>				
			</div> -->
			<strong>Suara Viajes.com.ar</strong> es una empresa que nació para organizar tu viaje creando un viaje a medida según tus necesidades, acompañando en tus decisiones y elecciones.
			<p>Aprovechá nuestros beneficios exclusivos:</p>
			<ul>
				<li class="color-list">Asesoramiento completo.</li>
				<li class="color-list">Mayoristas con trayectoria.</li>
				<li class="color-list">Confiabilidad y seguridad a la hora de la compra.</li>
			</ul>
			<p>Para más información, consultanos a 02323-490-332 ó <a href="mailto:suara71@live.com">suara71@live.com</a></p>
			<!--<p>Trabajamos para q su viaje sea soñado
				hay viajes que se hacen con su único equipaje el corazón</p> -->
		</div>
	</div>
	<div class="row">
		<div class="col s12 l6">
			<img src="images/local1.jpg" alt="suara-viajes1" class="responsive-img materialboxed">
		</div>
		<div class="col s12 l6">
			<img src="images/local2.jpg" alt="suara-viajes2" class="responsive-img materialboxed">
		</div>
	</div>
</div>