.btn-primary
	background: $color-item
	&:hover
		background: $color-item-active

.btn-secondary
	background: $color-button-collapse
	&:hover
		background: $color-button-collapse-hover


p
	line-height: 2rem

.parallax-container 
	min-height: $height-parallax
	height: $height-parallax
	line-height: 0
	height: auto
	color: rgba(255,255,255,.9)

.section-parallax 
	width: $full
	height: $height-section-parallax

.icon-block 
	padding: 0 15px
	.material-icons
		font-size: inherit

.slider
	height: $slider-height !important
	margin-bottom: 0px
	.slides
		height: $slider-height !important
		li
			height: $slider-height !important
	.indicators
		bottom: 4%
		.indicator-item
			background-color: $color-item
			z-index: 2
		.indicator-item.active
			background-color: $color-item-active

.text-uppercase
	text-transform: uppercase

.text-title
	@extend .text-uppercase
	color: $color-item

.color-list
	color: $color-item

p
	a
		text-decoration: none
		font-style: italic
		&:hover
			color: $color-item-active

.card
	.card-action
		background-color: $color-item

img
	&.destinaty-img
		width: $full

.page
	padding-top: 30px
	padding-bottom: 50px

.about-us-page, .payment-page, .destiny-page, .just-married-page
	@extend .page

.text-container
	width: $full
	background-color: $color-item
	display: table
	padding: 40px
	margin-bottom: 40px
	h5
		color: $white
		letter-spacing: 4px
		line-height: 38px

.brasil-page
	@extend .page
	.divider
		margin-top: 30px
		margin-bottom: 30px
	h5
		color: $color-button-collapse

.caribe-page, .europa-page, .peru-page
	@extend .brasil-page

.brick
	background-size: cover
	height: 600px
	.section
		width: $full
		.description
			background-color: darkorange
			opacity: 0.9
			padding: 50px
			border-radius: 4px

.firts-brick
	@extend .brick
	background-image: url('../images/brick01_normal_2x.jpg')

.banner
	background-size: cover
	background-position: center center
	height: 435px
	&.banner-about-us
		background-image: url('../images/about-us-normal_2x.jpg')
	&.banner-destiny
		background-image: url('../images/destiny-normal_2x.jpg')
	&.banner-just-married
		background-image: url('../images/just-married-normal_2x.jpg')