.btn-primary
	background: $color-item
	&:hover
		background: $color-item-active

.btn-secondary
	background: $color-button-collapse
	&:hover
		background: $color-button-collapse-hover


p
	line-height: 2rem

.parallax-container 
	min-height: 380px
	line-height: 0
	height: auto
	color: rgba(255,255,255,.9)
	.section 
		width: $full

.icon-block 
	padding: 0 15px
	.material-icons
		font-size: inherit

.slider
	min-height: $slider-height
	margin-bottom: -40px
	.slides
		min-height: $slider-height
		li
			min-height: $slider-height
	.indicators
		bottom: 4%
		.indicator-item
			background-color: $color-item
			z-index: 2
		.indicator-item.active
			background-color: $color-item-active

.text-uppercase
	text-transform: uppercase

.text-title
	@extend .text-uppercase
	color: $color-item

.color-list
	color: $color-item

p
	a
		text-decoration: underline
		font-style: italic
		&:hover
			color: $color-item-active

.card
	.card-action
		background-color: $color-item

img
	&.destinaty-img
		width: $full

.page
	padding-top: 30px
	padding-bottom: 50px

.nosotros-page
	@extend .page

.brasil-page
	@extend .page
	.divider
		margin-top: 30px
		margin-bottom: 30px
	h5
		color: $color-button-collapse

.caribe-page, .europa-page, .peru-page
	@extend .brasil-page