//Color
$white: #ffffff
$color-button-collapse: #da6016
$color-button-collapse-hover: #f6a215
$color-item: #009bdb
$color-item-active: #4fc3f7

$full: 100%
$full-height: 100vh
$slider-height: 650px
$navbar-height-lg: 90px