<div class="container brasil-page">
	<div class="row">
		<div class="col s12">
			<h3 class="center text-title">Brasil</h3>
		</div>
	</div>
	<div class="row">
		<div class="col l6 s12">
			<div class="destiny-container">
				<h5 class="center">Bahía</h5>
				<img class="materialboxed destinaty-img" data-caption="Bahía - Brasil" src="./images/destiny-brasil-1.jpg">								
			</div>
		</div>
		<div class="col l6 s12">
			<div class="destiny-container">
				<h5 class="center">Pipa</h5>
				<img class="materialboxed destinaty-img" data-caption="Pipa - Brasil" src="./images/destiny-brasil-2.jpg">								
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col l6 offset-l3 s12">
			<div class="destiny-container">
				<h5 class="center">Porto Seguro</h5>
				<img class="materialboxed destinaty-img" data-caption="Porto Seguro - Brasil" src="./images/destiny-brasil-3.jpg">								
			</div>
		</div>
	</div>
</div>