<div class="container caribe-page">
	<div class="row">
		<div class="col s12">
			<h3 class="center text-title">Caribe</h3>
		</div>
	</div>
	<div class="row">
		<div class="col l6 s12">
			<div class="destiny-container">
				<h5 class="center">Punta Cana</h5>
				<img class="materialboxed destinaty-img" data-caption="Punta Cana - República Dominicana" src="./images/destiny-caribe1.jpg">								
			</div>
		</div>
		<div class="col l6 s12">
			<div class="destiny-container">
				<h5 class="center">Bahamas</h5>
				<img class="materialboxed destinaty-img" data-caption="Bahamas" src="./images/destiny-caribe2.jpg">								
			</div>
		</div>
	</div>
</div>